<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title layout:title-pattern="$CONTENT_TITLE - Digitek PLM">Digitek PLM</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/digitek.css}">
  <link rel="stylesheet" th:href="@{/css/icons.css}">
  <style>body { margin: 0; background: #fff; }</style>
  <th:block layout:fragment="head-extra"></th:block>
</head>
<body>
<div class="layout-digitek">
  <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>
  <div class="layout-digitek-main-area">
    <th:block th:replace="~{fragments/gnb :: gnb}"></th:block>
    <div id="page-content" class="flex-grow-1 overflow-y-digitek-auto"
         style="background: var(--digitek-bg-gray);">
      <th:block layout:fragment="content">
        <!-- 각 페이지 콘텐츠가 여기에 주입됩니다 -->
      </th:block>
    </div>
  </div>
</div>
<script th:src="@{/js/turbo.js}"></script>
<script th:src="@{/js/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/digitek.js}"></script>
</body>
</html>
