<!-- 사이즈: btn-digitek-56 / btn-digitek-48 / btn-digitek-44 / btn-digitek-36 / btn-digitek-24 -->
<!-- 비활성화: disabled 속성 추가 -->
<button type="button" class="btn btn-digitek btn-digitek-secondary btn-digitek-56">취소</button>
<button type="button" class="btn btn-digitek btn-digitek-secondary btn-digitek-48">취소</button>
<button type="button" class="btn btn-digitek btn-digitek-secondary btn-digitek-44">취소</button>
<button type="button" class="btn btn-digitek btn-digitek-secondary btn-digitek-36">취소</button>
<button type="button" class="btn btn-digitek btn-digitek-secondary btn-digitek-24">취소</button>
<button type="button" class="btn btn-digitek btn-digitek-secondary btn-digitek-44" disabled>비활성화</button>