<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Digiteki PLM</title>
  <!-- CSS 의존성 -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/digitek.css">
  <link rel="stylesheet" href="css/icons.css">
</head>
<body>
<div class="d-flex flex-column" style="height: 100vh;"><main class="p-4">컨텐츠 영역</main></div>

<!-- JS 의존성 -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/digitek.js"></script>
</body>
</html>