<!-- 사이즈: btn-digitek-56 / btn-digitek-48 / btn-digitek-44 / btn-digitek-36 / btn-digitek-24 -->
<!-- 비활성화: disabled 속성 추가 -->
<button type="button" class="btn btn-digitek btn-digitek-primary btn-digitek-56">저장</button>
<button type="button" class="btn btn-digitek btn-digitek-primary btn-digitek-48">저장</button>
<button type="button" class="btn btn-digitek btn-digitek-primary btn-digitek-44">저장</button>
<button type="button" class="btn btn-digitek btn-digitek-primary btn-digitek-36">저장</button>
<button type="button" class="btn btn-digitek btn-digitek-primary btn-digitek-24">저장</button>
<button type="button" class="btn btn-digitek btn-digitek-primary btn-digitek-44" disabled>비활성화</button>