<!-- 사이즈: btn-digitek-56 / btn-digitek-48 / btn-digitek-44 / btn-digitek-36 / btn-digitek-24 -->
<!-- 비활성화: disabled 속성 추가 -->
<button type="button" class="btn btn-digitek btn-digitek-outline btn-digitek-56">삭제</button>
<button type="button" class="btn btn-digitek btn-digitek-outline btn-digitek-48">삭제</button>
<button type="button" class="btn btn-digitek btn-digitek-outline btn-digitek-44">삭제</button>
<button type="button" class="btn btn-digitek btn-digitek-outline btn-digitek-36">삭제</button>
<button type="button" class="btn btn-digitek btn-digitek-outline btn-digitek-24">삭제</button>
<button type="button" class="btn btn-digitek btn-digitek-outline btn-digitek-44" disabled>비활성화</button>