<!-- 라디오 버튼 그룹 (미선택 상태) -->
<!-- [커스텀] name 속성으로 같은 그룹의 라디오를 묶습니다 -->
<!-- [커스텀] id, value 속성을 업무에 맞게 변경하세요 -->
<label class="radio-digitek" for="radio-1">
  <input type="radio" id="radio-1" name="radioGroup" value="option1" />
  옵션 1
</label>
<label class="radio-digitek" for="radio-2">
  <input type="radio" id="radio-2" name="radioGroup" value="option2" />
  옵션 2
</label>
<label class="radio-digitek" for="radio-3">
  <input type="radio" id="radio-3" name="radioGroup" value="option3" />
  옵션 3
</label>
