<!-- 라디오 버튼 그룹 (선택된 상태) -->
<!-- [커스텀] name 속성으로 같은 그룹의 라디오를 묶습니다 -->
<!-- [커스텀] id, value 속성을 업무에 맞게 변경하세요 -->
<label class="radio-digitek" for="radio-sel-1">
  <input type="radio" id="radio-sel-1" name="radioGroupSel" value="option1" checked />
  옵션 1
</label>
<label class="radio-digitek" for="radio-sel-2">
  <input type="radio" id="radio-sel-2" name="radioGroupSel" value="option2" />
  옵션 2
</label>
<label class="radio-digitek" for="radio-sel-3">
  <input type="radio" id="radio-sel-3" name="radioGroupSel" value="option3" />
  옵션 3
</label>
